/*border-radius-top-left -> arredondar borda canto superior esquerdo*/
/*link util: https://unicode-table.com/*/
/*link util: fonts.google.com*/

/*
body {
    font-family: 'Montserrat', sans-serif;
}
*/

header {
    background: #BBBBBB;
    padding: 20px 0;
    /*20px pra cima e pra baixo e 0 pra esquerda e pra direita*/
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
    /*pra cima e pra baixo seja 0 e pra direita e pra esquerda se definam automaticamente */
}

nav {
    position: absolute;
    top: 110px;
    right: 0px;
}

/*Todos os itens da lista(li) que estão dentro da tag de navegação*/
nav li {
    display: inline;
    margin: 0 0 0 15px;
    /*1º-topo, 2º-direita, 3º-baixo, 4º-esquerda*/
}

/*Todos os links da nossa navegação estejam em maíusculo*/
nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

/*Todos os li dentro da class produtos*/
.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    /*inicio conf borda*/
    border-color: #000000;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    /*border-radius: 10px 20px 30px 40px;*/
    /*config 3 em 1 -> border: 2px solid #000000;*/
    /*fim conf borda*/
}

.produtos li:hover {
    border-color: #C78C19;
}

.produtos li:active {
    border-color: #088C19;
}

.produtos li:hover h2 {
    /*quero que ao passar o mouse em cima do h2 que está dentro do li*/
    font-size: 34px;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 18px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    text-align: center;
    /*background-color: #000000;*/
    background: url("bg.jpg");
    padding: 40px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    /*margin: 20px 0 0;*/
    margin-top: 20px;
}

main {}

form {
    margin: 40px 0;
}

form label,
form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    /*transition: 1s background;*/
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover {
    background: darkorange;
    transform: scale(1.2);
    /*transform: rotate(70deg);*/
}

table {
    margin: 20px 0 40px;
}

thead {
    background: #555555;
    color: white;
    font-weight: bold;
}

td,
th {
    border: 1px solid #000000;
    padding: 8px 15px;
}

/* css da página inicial */
.banner {
    width: 100%;
}

.titulo-principal {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
    /*color: #000000;*/
    color: rgba(0,0,0,0.3);
}


/*
.titulo-principal:first-letter { <-- primeira letra
    font-weight: bold;
}

.titulo-principal:before {
    content: "[ ";
}

.titulo-principal:after {
    content: " ]";
}

p::first-line { <-- primeira linha
    font-style:italic;
}
*/

.principal {
    padding: 3em 0;
    background: #FEFEFE;
    width: 940px;
    margin: 0 auto;
}

.principal p {
    margin: 0 0 1em;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.utensilios {
    width: 120px;
    /*width: calc(40% - 26px) --> primeiro valor, operacao, o que quer de resultado*/
    float: left;
    margin: 0 20px 20px 0;
    /* 0 pra cima, 20px pra direita, 20px pra baixo, 0 para baixo */
}

.conteudo-beneficios {
    width: 640px;
    margin: 0 auto;
}

.lista-beneficios {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.itens {
    line-height: 1.5;
    /*tamanho da linha*/
}

.itens:before {
    content: "🟊"
}

/*
.itens:nth-child(3)  <-- seleciona qualquer elemento da lista
.itens:nth-child(2n) <-- seleciona todos os elementos pares

*/

.itens:first-child {
    /*pega o primeiro elemento da lista*/
    font-weight: bold;
}

.imagem-beneficios {
    width: 60%;
    opacity: 1;
    transition: 400ms;
}

.imagem-beneficios:hover {
    opacity: 0.7;
}

.mapa {
    padding: 3em 0;
    /*3em para cima e para baixo, 0 para as laterais*/
    background: linear-gradient(#FEFEFE, #888888);
    /*background: radial-gradient(orange 50%,blue, red, black);*/
}

.mapa-conteudo {
    width: 940px;
    margin: 0 auto;
}

.mapa p {
    margin: 0 0 2em;
    /*espaçamento para baixo de 2 em*/
    text-align: center;
}

.beneficios {
    padding: 3em 0;
    background: #888888;
}

.video {
    width: 560px;
    margin: 2m auto;
}
/*
main > p { /*apenas os p filhos diretos de main
    background: red;
}

img + p { /*apenas o paragrafo que vem logo após uma img 
    background: blue;
}

img ~ p { /*todos os seletores que vem depois de uma img 
    background: yellow;
}

.principal p:not(#missao) { /*todos os paragrafos que não tem o nome de classe missão
    background: orange;
}
*/